.list-books
    article
        display inline-block
        padding 10px 5px
        box-sizing border-box
        width 100%
        vertical-align top
        +below(+650)
            width 33.33%
        img
            width auto